.back-to-top {
  position: fixed;
  bottom: $b2t-position-bottom;
  right: 137.5px;
  z-index: $zindex-5;
  padding: 10px 15px 20px 15px;
  width: 15px;
  height: 15px;
  background: $b2t-bg-color;
  font-size: $b2t-font-size;
  opacity: $b2t-opacity;
  color: $b2t-color;
  cursor: pointer;
  text-align: center;
  -webkit-transform: translateZ(0);
  transition-property: bottom;
  the-transition();

  +mobile() {
    display: none;
  }
  +tablet() {
    display: none;
  }

  &.back-to-top-on {
    bottom: $b2t-position-bottom-on;
  }
}
